a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: rgb(161, 161, 161);
}
/* .navb {
  background: rgb(117, 117, 117);
  padding: 5px 1.3em;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  font-size: 11px;
} */
.slider {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 678px) {
  .slider {
    overflow-x: hidden;
  }
  .image {
    height: 500px;
    min-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-arrow,
  .left-arrow {
    color: #fff !important;
  }
}
.image {
  max-width: 1000px;
  width: 100%;
  /* height: 600px; */
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #8a8a8a;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #8a8a8a;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
